<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="bklooo">
        <meta name="keywords" content="小阔落导航,高清电影,最新网址发布页,黑客,精品软件,网址导航,网盘搜索,镜像谷歌,免费资源">
        <meta name="description" content="冰阔落导航提供最快捷的资源平台，让你迅速找到想要的资源，准确又方便快捷">
        <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
		<script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/jquery.cookie.js"></script>
		<script src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
        <script src="/static/js/default.js"></script>
        <title>冰阔落导航</title>
    </head>
    
    {% block body %}
    /* 需要被替换的地方 */
    {% endblock %}
    
</html>