{% extends "base.html" %}
{% block body %}
    {% load static %}
    <body onload="load_site_name();">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-8 column">
                            <div class="page-header">
                                <h1>
                                    冰阔落导航<small>--全网快速检索</small>
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-4 column">
                            <div class="btn-group">
                                <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> 左</button>
                                <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-center"></em> 中</button> 
                                <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> 右</button>
                                <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-justify"></em> 全</button>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">首页</a>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">最新</a>
                                </li>
                                <li>
                                    <a href="#">最热</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">搜索引擎<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">百度</a>
                                        </li>
                                        <li>
                                            <a href="#">搜狐</a>
                                        </li>
                                        <li>
                                            <a href="#">360</a>
                                        </li>
                                        <li>
                                            <a href="#">Bing</a>
                                        </li>
                                        <li>
                                            <a href="#">谷歌</a>
                                        </li>
                                        
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">谷歌镜像1</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">谷歌镜像2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" role="search" action="search/">
                                <div class="form-group">
                                    <input type="text" name="s" class="form-control"/>
                                </div> <button type="submit" class="btn btn-default">站内搜索</button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">冰阔落的小站</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">资讯<strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">文章</a>
                                        </li>
                                        <li>
                                            <a href="#">图片</a>
                                        </li>
                                        <li>
                                            <a href="#">视频</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="#">全部内容</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                    </nav>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-10 column">
                    <h3>
                        分类
                    </h3>
                    <div class="row clearfix well">
                        {% for i in class_list%}
                        <div class="col-md-1 column">
                            <span ><a href="#md_{{forloop.counter}}" class="label label-danger">{{i}}</a></span>
                        </div>
                        {% endfor %}
                    </div>
                    
                    {% for i, j in class_list.items%}
                    <!-- 资源搜索 -->
                        <div id="md_{{ forloop.counter }}"></div>
                        <div class="row clearfix">
                            <div class="col-md-10 column">
                            <h3 id="classification_{{ forloop.counter }}">
                                <span class="glyphicon glyphicon-{{j}}"></span>&nbsp;&nbsp;{{i}}
                            </h3>
                            </div>
                            <div class="col-md-2 column text-center" id="more">
                                <blockquote><p><a href="#" class="text-warning">更多</a></p></blockquote>
                            </div>
                        </div>
                        <div id="class_all_{{forloop.counter}}" class="row clearfix">
                            <div class="col-md-12 column">
                                <table class="table table-bordered table-hover">
                                    <tbody id="website">
                                        {% for i in loop_list6 %}
                                    <tr id="tr{{forloop.counter}}">
                                        {% for j in loop_list9 %}
                                        <td id="td{{forloop.counter}}"><img src="/static/images/bkl_web_icon.png" alt="" class="img_web_icon"/>&nbsp;&nbsp;<a style="cursor: pointer;" onclick="click_go_web(this)" class="website_name">网址</a></td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor%}
                                    </tbody>
                                </table>
                            </div>  
                        </div>
                        {% endfor %}
                        <!-- 分类结束 -->
                </div>

                        <!-- 标签开始 -->
                        <div class="col-md-2 column" id="tag">
                            {% for i in loop_list12 %}
                            <div class="row clearfix">
                                {% for j in loop_list3%}
                                <div class="col-md-4 column">
                                    <a href="{{random_website}}" class="label label-{{tag_style}}">123</a>
                                </div>
                                {% endfor%}
                            </div>
                            <br />
                            {% endfor %}
                        </div>
                        <!-- 标签结束 -->
            </div>
        </div>

        <!-- 返回顶部 -->
		<div id="go_home" onclick="javascript:document.body.scrollTop = document.documentElement.scrollTop = 0;">
			<p class="glyphicon glyphicon-chevron-up go_home_icon"></p>
		</div>
    </body>
{% endblock body %}