<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="bkloooHandler" />
	<add name="navhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\python\python.exe|D:\PythonProject\Navigation\nav_bklooo\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="D:\PythonProject\Navigation\nav_bklooo" />
		<add key="DJANGO_SETTINGS_MODULE" value="nav_bklooo.settings" />
		<add key="WSGI_LOG" value="D:\PythonProject\Navigation\nav_bklooo\error.log" />
	 </appSettings>
</configuration>